.wrapper {
  max-width: 46rem;
  margin: 0rem auto;
  padding: 0;
}

.todoPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  margin: 4rem auto 2rem;
}